<h1>Editing recipe</h1>
<%= render "form", recipe: @recipe %>
<br>
<div>
  <%= link_to "Show this recipe", @recipe, class: "trans-link" %> |
  <%= link_to "Back to recipes", recipes_path ,class: "trans-link" %>
</div>
