<h1>Foods</h1>
<div>
 <table>
  <thead> 
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
        <% @foods.each do |food| %>
    <tr>
      <td><%=food.name%></td>
      <td><%=food.measurement_unit%></td>
      <td><%=food.price%></td>
      <td><%=button_to "Delete", "/users/#{current_user.id}/foods/#{food.id}", :method=>:delete, :data=>{turbo:false} %> </td>
    </tr>
    <% end %>
  </tbody>
 </table>
 
</div>


