/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

input[type='submit'] {
  background-color: #157347;
  border: none;
  border-radius: 6px;
  padding: 5px 15px;
  color: white;
  width: 15vw;
}

input[type='submit']:hover {
  transform: scale(0.95);
}

.trans-link {
  color: gray;
}

.trans-link:hover {
  color: #157347;
}
